:root {
  --brand-color: #1E9E6A;
  --bg1-color: #F3FFF2;
  --dark-10: #1A202C;
  --dark-20:#656769 ;
  --dark-30:#E8E8E8;
  --dark-40:#F7FAFC;
  --dark-50:#FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

section{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.image{
    background-color: var(--bg1-color);
    display: none;
}

.login{
    flex-direction: column;
    gap: 32px;
    min-width: 375px
    
}

.login div, form{
    width: 100%;
    max-width: 400px;
    
}

@media (min-width: 927px) {
    .image{
        display: flex;
    }
}